body{
    padding: 40px 4%;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #535353;
}


.balao{
    padding: 4% 7%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 8px black;
}


label{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

input{
    padding: 2%;
    border-radius: 10px;
}

button{
    margin-top: 5%;
    color: #f4f4f4;
    border: none;
    border-radius: 10px;
    background-color: #000000;
    padding: 2%;
    cursor: pointer;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 120%;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

